<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apj.mymodule.app2.wkb_app.app">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

    </application>

</manifest>
